.grid {
  font-family: var(--defaultFont);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    width: unset;
    height: unset;
  }

  .left {
    position: relative;
    width: 50%;
    height: 100%;
    background: var(--color-accent-richer);
    flex-direction: column;
    background-size: contain;
    background: url("/assets/images/bg_signup.webp") 30% 50%;
    @media (max-width: 1000px) {
      width: 0;
    }
  }
  .right {
    overflow: hidden;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
    @media (max-width: 1000px) {
      width: 100%;
      height: unset;
    }
    @media (max-height: 700px) {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.step {
  height: 60%;
  color: var(--color-text-normal);
  display: flex;
  flex-flow: column;
  &__wrapper {
    width: 80%;
    height: 100%;
  }
}
