<div class="player-container">
    <div class="current-song">
        <img src="https://images.genius.com/d95e4b9e5949a632ba9486d3b5404ec1.1000x1000x1.jpg" alt="test image" class="cover-art-image">
        <div class="song-details">
            <h2 class="title">No Tommorow</h2>
            <p class="author">Camo & Krooked, Mefjus, Sophie Lindinger</p>
        </div>
    </div>
    <div class="player-controls">
        <div class="player-controls-buttons">
            <div class="control-button loop-button small-button">
                <app-icon class="icon" icon="loop"></app-icon>
            </div>
            <div class="control-button medium-button">
                <app-icon class="icon" icon="prev"></app-icon>
            </div>
            <div class="control-button play-button">
                <app-icon class="icon" icon="play"></app-icon>
            </div>
            <div class="control-button medium-button">
                <app-icon class="icon" icon="next"></app-icon>
            </div>
            <div class="control-button random-button small-button">
                <app-icon class="icon" icon="random"></app-icon>
            </div>
        </div>
        <div class="playback-bar">
            <div class="time-passed">00:00</div>
            <progress class="progressbar" value="32" max="100"> 32% </progress>
            <div class="time-duration">03:52</div>
        </div>
    </div>
    <div class="sound-controls">
        <div class="devices-button">
            <app-icon class="icon" icon="devices"></app-icon>
        </div>
        <div class="sound-button">
            <app-icon class="icon" icon="volume"></app-icon>
        </div>
        <div>
            <progress class="volumebar" value="32" max="100"> 32% </progress>
        </div>
    </div>
</div>
