<div class="player-container">
    <div class="current-song">
        <img [src]="getCurrentTrackImageURL()" alt="test image" class="cover-art-image">
        <div class="song-details">
            <h2 class="title">{{ player.currentTrack?.name ?? '-' }}</h2>
            <p class="author">{{ authors() }}</p>
        </div>
    </div>
    <div class="player-controls">
        <div class="player-controls-buttons">
            <div class="control-button loop-button small-button">
              <ng-container [ngSwitch]="player.playMode">
                <app-icon *ngSwitchCase="PlayMode.Default"  (click)="switchPlayMode()" class="icon" icon="loop"></app-icon>
                <app-icon *ngSwitchCase="PlayMode.Playlist" (click)="switchPlayMode()" class="icon active" icon="loop"></app-icon>
                <app-icon *ngSwitchCase="PlayMode.Single"   (click)="switchPlayMode()" class="icon active" icon="loop-single"></app-icon>
              </ng-container>
            </div>
            <div class="control-button medium-button">
                <app-icon class="icon" icon="prev" (click)="player.queuePreviousFromCollection()"></app-icon>
            </div>
            <div class="control-button play-button" (click)="togglePlay()">
                <app-icon class="icon" [icon]="!player.isPaused() ? 'pause' : 'play'"></app-icon>
            </div>
            <div class="control-button medium-button">
                <app-icon class="icon" icon="next"  (click)="player.queueNextFromCollection()"></app-icon>
            </div>
            <div class="control-button random-button small-button">
                <app-icon class="icon" icon="random"></app-icon>
            </div>
        </div>
        <div class="playback-bar">
            <div class="time-passed">{{ formatPlayerTime(currentTime) }}</div>
            <div class="playbar">
              <input class="progressbar"
                     type="range"
                     [min]="0"
                     [max]="maxTime"
                     [value]="progress"
                     (change)="jumpTo($event)"
                     (input)="progressInput($event)"
                     (mouseup)="isHoldingDownPlayer = false"
                     (mousedown)="isHoldingDownPlayer = true"
                     step="1"
              >
            </div>
            <!--<progress class="progressbar" [value]="progress" max="1"></progress>-->
            <div class="time-duration">{{ formatPlayerTime(maxTime) }}</div>
        </div>
    </div>
    <div class="sound-controls">
        <div class="devices-button">
            <app-icon class="icon" icon="devices"></app-icon>
        </div>
        <div class="sound-button">
            <app-icon class="icon" icon="volume"></app-icon>
        </div>
        <div>
          <input class="volumebar"
                 type="range"
                 (input)="volumeChanged($event)"
                 [value]="player.volume"
                 min="0"
                 step="0.01"
                 max="1">
        </div>
    </div>
</div>
