<nav class="navigation">
  <div class="navigation__logo">
    Spotify 2.0
  </div>
  <ul class="navigation__list">
    <li class="navigation__item">
      <a routerLink="/signup" class="navigation__link navigation__link--violet">Sign Up</a>
    </li>

    <li class="navigation__item">
      <div class="divider">&nbsp;</div>
    </li>

    <li class="navigation__item">
      <a routerLink="/signin" class="navigation__link">Sign In</a>
    </li>

    <li class="navigation__item">
      <app-icon class="icon--theme" icon="theme" (click)="toggleTheme()"></app-icon>
    </li>
  </ul>
</nav>
