.collections_title {
    display: inline-block;
}

.add_collection_container {
    display: flex;
    justify-content: center;
}

.add_collection_container button {
    background: url("/assets/svgs/plus_btn.svg") center no-repeat, var(--color-violet-dark);
    color: var(--color-text);
    text-decoration: none;
    border: none;
    width: 68px;
    height: 68px;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: var(--color-violet-darker);
    }
}