.error {
  margin-top: 10px;
  color: var(--color-red-light);
  display: flex;
  align-items: center;

  &__text {
    font-size: 0.8rem;
  }
}

.checkbox {
  margin-top: 30px;

  &-text--signin {
    margin-left: 5px;
    color: var(--color-black);

    .highlight {
      color: var(--color-violet-dark);
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.grid--signin {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    width: unset;
    height: unset;
  }

  .left--signin {
    position: relative;
    width: 60%;
    height: 100%;
    background: var(--color-violet-dark);
    flex-direction: column;
    background-size: contain;
    background: url("/assets/images/bg_signup.webp") 30% 50%;
    @media (max-width: 1000px) {
      width: 0;
    }
  }
  .right--signin {
    overflow: hidden;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-direction: column;
    background: var(--color-background);
    @media (max-width: 1000px) {
      width: 100%;
      height: unset;
    }
    @media (max-height: 700px) {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.divider {
  width: 2px;
  height: 36px;
  background: var(--color-black);
  margin-left: 1rem;
  margin-right: 1rem;
  transition: 0.3s;
}

.sign-up__button {
  margin-top: 30px;
  width: 12rem;
  height: 4rem;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background: var(--color-violet-light);
  cursor: pointer;

  font-size: 1.5rem;
}

.or {
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-black);
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--color-violet-dark);
  cursor: pointer;

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    font-size: 1.3rem;
    margin-left: 10px;
  }
  @media (max-width: 1000px) {
    margin-bottom: 70px;
  }
}

.form--signin {
  width: 400px;
  @media (max-width: 1000px) {
    margin: 140px 15px 15px 15px;
    width: auto;
  }
}
