<section class="settings">
  <nav class="navigation--settings">
   <ul class="navigation--settings__list">
      <li class="navigation--settings__item"><a routerLink="account-settings" routerLinkActive="navigation--settings__link--active" class="navigation--settings__link">account settings</a></li>
      <li class="navigation--settings__item"><a routerLink="change-password" routerLinkActive="navigation--settings__link--active" class="navigation--settings__link">change password</a></li>
      <li class="navigation--settings__item"><a routerLink="notifications" routerLinkActive="navigation--settings__link--active" class="navigation--settings__link">notifications settings</a></li>
      <li class="navigation--settings__item"><a routerLink="activity-log" routerLinkActive="navigation--settings__link--active" class="navigation--settings__link">activity log</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</section>
