.logo {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--defaultFont);
  margin-left: 2rem;
  user-select: none;
  cursor: pointer;

  @media (max-width: 1000px) {
    font-size: 1.5rem;
    color: var(--color-text-normal);
  }
}
