.navigation {
  @include padding(all, medium);
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 9999999;
  transition: background-color 0.25s;

  @media (max-width: 500px) {
    @include padding(left, small);
    @include padding(right, small);
  }

  &__logo {
    flex-grow: 1;
    @include padding(left, medium);
    @include logo-default;
    .navigation__link, .navigation__link:visited {
      font-weight: 600 !important;
    }

    @media (max-width: 500px) {
      padding: 0;
      margin: 0;
    }
  }

  &__list {
    @include padding(right, medium);
    list-style: none;
    font-size: var(--font-size-medium);

    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
      padding: 0;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    color: var(--color-black);

    &:link,
    &:visited {
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 500;
    }

    &--white {
      color: var(--color-white);
    }

    &--highlighted {
      &:hover {
        color: var(--color-violet-light);
        transition: all 0.2s;
      }
    }

    &--violet {
      color: var(--color-violet-darker);
    }
  }
}
