.navbar {
  position: absolute;
  height: 7rem;
  min-height: 7rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 2;

  &__left {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
  }
}
