<div class="wrapper" [formGroup]="formGroup">
  <div class="label--form-input">{{ label }}</div>
  <div class="input--form-input">
    <input
    *ngIf="!this.isSelector"
      (focusout)="onFocusOut()"
      [formControlName]="formName"
      [value]="value"
      [class.input-error]="isError()"
      [type]="hideInput ? 'password' : 'text'"
      [readonly]="disable"
      class="form-input"
      [ngClass]="{'form-input--disabled': this.disable}"
    />
    <select
    *ngIf="this.isSelector"
      (focusout)="onFocusOut()"
      [formControlName]="formName"
      [value]="value"
      [class.input-error]="isError()"
      class="form-input form-selector"
      [ngClass]="{'form-input--disabled': this.disable}"
    >
      <option class="form-selector__option" *ngFor="let option of this.selectorData">{{ option }}</option>
    </select>
    <app-icon *ngIf="isError()" class="error__icon" icon="invalid"></app-icon>
  </div>
  <div class="error">
    <span *ngIf="isError()" class="error__text"> {{ getErrorMessage() }} </span>
  </div>
</div>
