<div class="wrapper" [formGroup]="formGroup">
  <div class="label--form-input">{{ label }}</div>
  <div class="input--form-input">
    <input
      (focusout)="onFocusOut()"
      [formControlName]="formName"
      [value]="value"
      [class.input-error]="isError()"
      [type]="hideInput ? 'password' : 'text'"
      [readonly]="disable"
      class="form-input"
    />
    <app-icon *ngIf="isError()" class="error__icon" icon="invalid"></app-icon>
  </div>
  <div class="error">
    <span *ngIf="isError()" class="error__text"> {{ getErrorMessage() }} </span>
  </div>
</div>
