.password-reset {
  &--form {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    min-width: 60%;
    @media (max-width: 1000px) {
      margin: 140px 15px 15px 15px;
    }
  }
  &--header {
    text-align: center;
    margin-bottom: 8rem;
    color: var(--color-black);
    font-size: 2.25rem;
    font-weight: 600;
  }
  &--subtitle {
    padding-bottom: 5rem;
    color: var(--color-black);
    font-size: 1.5rem;
    text-align: center;
  }
}
