* {
  font-family: var(--defaultFont);
}

.grid {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    width: unset;
    height: unset;
  }

  .navbar {
    position: absolute;
    height: 70px;
    min-height: 70px;
    width: 100%;
    flex-direction: row;
    display: flex;
    background: inherit;
    align-items: flex-end;
    z-index: 2;

    &__left {
      display: flex;
      flex-wrap: nowrap;
      margin-left: auto;
    }
  }

  .left {
    position: relative;
    width: 50%;
    height: 100%;
    background: var(--color-accent-richer);
    flex-direction: column;
    background-size: contain;
    background: url("/assets/images/bg_signup.jpg") 30% 50%;
    @media (max-width: 1000px) {
      width: 0;
    }
  }
  .right {
    overflow: hidden;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
    @media (max-width: 1000px) {
      width: 100%;
      height: unset;
    }
    @media (max-height: 700px) {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.logo {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--defaultFont);
  margin-left: 2rem;
  user-select: none;
  @media (max-width: 1000px) {
    color: var(--color-text-normal);
  }
  cursor: pointer;
}

.icon-theme {
  margin-left: 50px;
  margin-right: 25px;
  width: 36px;
  height: 36px;
  color: var(--color-text-normal);
  cursor: pointer;
  transition: color 0.1s;
  user-select: none;
  &:hover {
    color: var(--color-accent-richer);
  }
}

.options {
  position: relative;
  &__underline {
    &--wrapper {
      height: 100%;
      transform: translate(0, 62%);
    }
    transition: all 0.3s;
    position: absolute;
    height: 3px;
    width: 250px;
    background: var(--color-accent-richer);
    flex: 1 1 auto;
    display: flex;
  }
  color: var(--color-text-normal);
  height: 20%;
  display: flex;
  align-items: center;
  .option {
    height: fit-content;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin-right: 10px;
    &__index {
      color: #000000;
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      border-radius: 50%;
      background: var(--color-accent);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: 600;
      margin-right: 10px;

      app-icon {
        width: 31px;
        height: 31px;
      }
    }

    &__status {
      font-weight: 600;
      font-size: 24px;
    }

    &__details {
      font-size: 18px;
    }
  }

}

.step {
  height: 60%;
  color: var(--color-text-normal);
  display: flex;
  flex-flow: column;
  &__wrapper {
    width: 80%;
    height: 100%;
  }
  &__header {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 100px;
  }
  &__text {
    font-size: 24px;
  }
}

.highlight {
  font-weight: 600;
  cursor: pointer;
  color: var(--color-accent-richer);
}

.step-progress {
  color: var(--color-text-normal);
  height: 20%;
  padding-bottom: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__help {
    font-size: 18px;
    margin-right: auto;
  }

  &--skip {
    margin-top: 5px;
    font-size: 1.1rem;
  }
  &--button {
    font-size: 32px;
    width: 200px;
    height: 60px;
    outline: none;
    border: none;
    background: var(--color-accent-richer);
    border-radius: 5px;
    cursor: pointer;

    &__icon {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  &--wrapper {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: var(--color-accent-richer);
    position: relative;
  }
  &__icon-change {
    color: #000000;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    &:after {
      position: absolute;
      z-index: -1;
      right: -10px;
      top: -10px;
      content: "";
      display: inline-block;
      width: 50px;
      height: 50px;
      background: #C4C4C4;
      border-radius: 50%;
    }
  }
  &__initials {
    font-size: 100px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  &__info {
    font-size: 16px;
    .highlight {
      font-weight: 600;
      color: inherit;
      cursor: inherit;
    }
  }
}

.modal {

  &--bg {
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px) brightness(0.8);
  }

  &--content {
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}

.genres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  height: 100%;
  overflow-y: scroll;
}
.genre {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-accent-richer);
  transition: background 0.3s;
  user-select: none;
  cursor: pointer;

  &--chosen {
    background: rgba(117, 108, 204, 0.3);
  }

  &--icon {
    height: 5rem;
    width: 5rem;
    color: var(--color-text-normal);
  }
  &--title {
    margin-top: 10px;
    font-size: 1.5rem;
  }
}
