@function getMargin($size) {
  @return map-get((
    small : 1.5rem,
    medium : 4rem,
    big : 8rem,
    huge : 10rem,
    megahuge : 12rem,
  ), $size);
}

@function getTypography($size) {
  @return map-get((
    small : 1.5rem,
    medium : 2rem,
    big : 4rem,
    huge : 8rem,
  ), $size);
}
