:root {
  ////////////////////////////////////
  ///// COLORS
  --color-background: #F6F6F6;

  --color-black: #000000;
  --color-white: #F6F6F6;

  --color-violet-dark: #756ccc;
  --color-violet-light: #BCB6FF;

  --color-red-dark: #ed4337;
  --color-red-light: #e55d53;

  ////////////////////////////////////
  ///// FONT
  --font-family-default: Roboto;

  --font-size-default: 1.6rem;

  --font-size-small: 1rem;
  --font-size-medium: 1.8rem;
  --font-size-big: 3rem;
  --font-size-huge: 4.2rem;
  --font-size-megahuge: 6rem;
}
