:root {
  --defaultFont: Roboto;

  --color-error-normal: #e55d53;
  --color-error-richer: #ed4337;

  --color-text-normal: #000000;
  --color-accent: #BCB6FF;
  --color-accent-richer: #756ccc;

  --color-background: #FFFFFF;
}
