:root {
  ////////////////////////////////////
  ///// COLORS
  --color-background: #f6f6f6;
  --color-text: #000000;

  --color-white: #f6f6f6;
  --color-gray: #808080;

  --color-violet-darker: #4d449a;
  --color-violet-dark: #756ccc;
  --color-violet-light: #bcb6ff;

  --color-red-dark: #ed4337;
  --color-red-light: #e55d53;

  --color-background-app: #F0F3FF;
  --color-player-background: #DBE2FF;
  --color-sidebar-background: #FFFFFF;
  --color-popout-background: #10141D;

  --color-green-light: #1db954;

  ////////////////////////////////////
  ///// FONT
  --font-family-default: Roboto;

  --font-size-default: 1.6rem;

  --font-size-minor: 1rem;
  --font-size-small: 1.4rem;
  --font-size-medium: 1.8rem;
  --font-size-big: 3rem;
  --font-size-huge: 4.2rem;
  --font-size-megahuge: 6rem;
  --font-size-megamegahuge: 12.5rem;
}
