<div class="sidebar--container">
    <div routerLink="" class="logo">Spotify 2.0</div>
    <div class="sidebar--links">
        <ul>
            <li routerLink="/app">
                <app-icon class="icon" icon="home"></app-icon>
                <span class="sidebar--links__text">Home</span>
            </li>
            <li>
                <app-icon class="icon" icon="follows"></app-icon>
                <span class="sidebar--links__text">Follows</span>
            </li>
            <li>
                <app-icon class="icon" icon="favourites"></app-icon>
                <span class="sidebar--links__text">Favourites</span>
            </li>
            <li routerLink="collections">
                <app-icon class="icon" icon="collections"></app-icon>
                <span class="sidebar--links__text">Collections</span>
            </li>
            <li>
                <app-icon class="icon" icon="history"></app-icon>
                <span class="sidebar--links__text">History</span>
            </li>
            <li routerLink="settings/account-settings">
                <app-icon class="icon" icon="settings"></app-icon>
                <span class="sidebar--links__text">Settings</span>
            </li>
        </ul>
    </div>
    <hr class="sidebar--separator">
    <div class="sidebar__collections">
        <button class="sidebar__collections--add">
            <app-icon class="icon" icon="plus"></app-icon>
            <span>Add </span>
        </button>
        <ul>
            <li *ngFor="let collection of collections">
                <span> {{ collection }}</span>
            </li>
        </ul>
    </div>
</div>
