<section class="signin">
  <app-navigation [isAlwaysWhite]="true"></app-navigation>

  <div class="signin__image"></div>

  <div class="signin__form" style="padding-left: 20rem; padding-right: 20rem">
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="step1"></ng-container>
      <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="step2"></ng-container>
      <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="step3"></ng-container>
      <ng-container *ngSwitchCase="4" [ngTemplateOutlet]="step4"></ng-container>
    </ng-container>
  </div>
</section>

<ng-template #step1>
  <form class="password-reset--form" [formGroup]="passwordResetForm" (ngSubmit)="sendEmail()">
    <div class="password-reset--header">Recover Password</div>

    <div class="password-reset--subtitle">
      If you have forgotten your password enter your email address
      and we will send you a verification code then you can reset
      your password
    </div>

    <app-form-input-text
        label="Email"
        formName="email"
        [formGroup]="passwordResetForm"
    ></app-form-input-text>

    <button
      class="btn btn--violetdark btn--animated-bg u-margin-top-medium"
      type="submit">
      Send email
    </button>
  </form>
</ng-template>

<ng-template #step2>
  <div class="password-reset--form">
    <div class="password-reset--header">Verification Code</div>

    <div class="password-reset--subtitle">
      Check your email address and enter 5 digit verification code
      that we have sent to you, code is valid only for two minutes
    </div>

    <app-pin-code
      #pinCodeComponent
      [numOfDigits]="5"
      (pinCodeComplete)="onPinCodeComplete($event)">
    </app-pin-code>

    <button
      class="btn btn--violetdark btn--animated-bg u-margin-top-medium"
      type="submit"
      (click)="submitPinCode()">
      Confirm
    </button>
  </div>
</ng-template>

<ng-template #step3>
  <form class="password-reset--form" [formGroup]="newPasswordForm" (ngSubmit)="submitChangePassword()">
    <div class="password-reset--header">New Password</div>

    <div class="password-reset--subtitle">
      Enter the new password then your password will change! Don't forget again :)
    </div>

    <app-form-input-text
      label="New Password"
      formName="password"
      [formGroup]="newPasswordForm"
      [hideInput]="true"
    ></app-form-input-text>

    <button
      class="btn btn--violetdark btn--animated-bg u-margin-top-medium"
      type="submit">
      Set Password
    </button>
  </form>
</ng-template>

<ng-template #step4>
  <div class="password-reset--form">
    <div class="password-reset--header">Success!</div>

    <div class="password-reset--subtitle">
      Your password has been changed, you can now
      <span class="href bold" routerLink="/signin">sign in</span> with your new credentials
    </div>
  </div>

</ng-template>
