<section class="change-password">
  <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <app-form-input-text
        class="form__input"
        formName="oldPassword"
        label="Old password"
        [formGroup]="changePasswordForm"
      >
      </app-form-input-text>
    </div>
    <div class="form__group">
      <app-form-input-text
        class="form__input"
        formName="newPassword"
        label="New password"
        [formGroup]="changePasswordForm"
      >
      </app-form-input-text>
    </div>
    <div class="form__group">
      <app-form-input-text
        class="form__input"
        formName="repeatedNewPassword"
        label="Repeat new password"
        [formGroup]="changePasswordForm"
      >
      </app-form-input-text>
    </div>
    <div class="form__wrapper">
      <button
        type="submit"
        class="form__button btn btn--violetdark btn--animated-bg"
      >
        Save
      </button>
    </div>
  </form>
</section>
