.logged-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;

  &__main {
    flex-grow: 1;
    display: flex;
  }

  &__sidebar {
    padding: 5rem;
    max-width: 35rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }


  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__player {
    flex-grow: 1;
    @media (max-width: 1000px) {
      height: 80px;
    }
  }
}
