@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
  box-sizing: border-box;

  background: var(--color-background);
}

[data-theme="dark"] {
  --color-text-normal: #FFFFFF;
  --color-background: #10141D;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-accent);
}
