$small: 1.5rem;
$medium: 4rem;
$big: 8rem;
$huge: 10rem;

$text-size-small: 1.5rem;
$text-size-medium: 2rem;
$text-size-big: 4rem;
$text-size-huge: 8rem;

.text-default {
  color: var(--color-text-normal);
}

.highlight {
  font-weight: 600;
  color: var(--color-accent-richer)
}

.u-text {
  &-small  { font-size: $text-size-small  }
  &-medium { font-size: $text-size-medium }
  &-big    { font-size: $text-size-big    }
  &-huge   { font-size: $text-size-huge   }
}

.u-center-text {
  text-align: center !important;
}

.u-margin {
  &-bottom {
    &-small  { margin-bottom: $small  !important }
    &-medium { margin-bottom: $medium !important }
    &-big    { margin-bottom: $big    !important }
    &-huge   { margin-bottom: $huge   !important }
  }
  &-top {
    &-small  { margin-top: $small  !important }
    &-medium { margin-top: $medium !important }
    &-big    { margin-top: $big    !important }
    &-huge   { margin-top: $huge   !important }
  }
  &-left {
    &-small  { margin-left: $small  !important }
    &-medium { margin-left: $medium !important }
    &-big    { margin-left: $big    !important }
    &-huge   { margin-left: $huge   !important }
  }
  &-right {
    &-small  { margin-right: $small  !important }
    &-medium { margin-right: $medium !important }
    &-big    { margin-right: $big    !important }
    &-huge   { margin-right: $huge   !important }
  }
}

.flex {
  display: flex;
  &-row { flex-flow: row; }
  &-col { flex-flow: column; }
  &-center-y { justify-content: center; }
  &-center-x { align-items: center; }
  &-center {
    align-items: center;
    justify-content: center;
  }
}
