<section class="account-settings">
  <form class="form" [formGroup]="accountSettingsForm" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <label class="form__label" formControlName="firstName" for="first-name">First name</label>
      <input class="form__input" type="text" id="first-name" [value]="firstName"/>
    </div>
    <div class="form__group">
      <label class="form__label" for="last-name">Last name</label>
      <input class="form__input" formControlName="lastName" type="text" id="last-name" [value]="lastName"/>
    </div>
    <div class="form__group">
      <label class="form__label" for="dispaly-name">Display name</label>
      <input class="form__input" formControlName="dispalyName" type="text" id="dispaly-name" [value]="displayName"/>
    </div>
    <div class="form__group">
      <label class="form__label" for="email">E-mail</label>
      <input class="form__input" formControlName="email" type="text" id="email" [value]="email"/>
    </div>
    <div class="form__wrapper">
      <button type="submit" class="form__button btn btn--violetdark btn--animated-bg">Save</button>
    </div>
  </form>
</section>
