:host {
  display: inline-block;
  height: inherit;
  width: inherit;
}

span {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  font-size: inherit;
  height: inherit;
  line-height: inherit;
  width: inherit;
}
