:host {
  display: inline-block;
}

span {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  font-size: 16px;
  height: inherit;
  line-height: inherit;
  width: inherit;

  svg {
    fill: currentColor;
  }
}
