@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--color-background);
}

:root {
  --defaultFont: Roboto;

  --color-error-normal: #e55d53;
  --color-error-richer: #ed4337;

  --color-text-normal: #000000;
  --color-text-grey: #3d3d3d;
  --color-accent: #BCB6FF;
  --color-accent-richer: #756ccc;

  --color-background: #FFFFFF;
  --color-player-background: #DBE2FF;
}

[data-theme="dark"] {
  --color-text-normal: #FFFFFF;
  --color-text-grey: #919191;
  --color-background: #10141D;
  --color-player-background: #0C111C;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--colorAccent);
}
