<div class="footer">

  <div class="footer--container">
    <div class="footer__logo--wrapper">
      <div class="footer__logo">Spotify 2.0</div>
    </div>

    <div class="footer__menu">
      <div class="footer__menu--item--header">Product</div>
      <div class="footer__menu--item">Developers</div>
      <div class="footer__menu--item">Advertising</div>
      <div class="footer__menu--item">Guides</div>
    </div>

    <div class="footer__menu">
      <div class="footer__menu--item--header">Our Company</div>
      <div class="footer__menu--item">About Spotify 2.0</div>
      <div class="footer__menu--item">Careers</div>
      <div class="footer__menu--item">Blog</div>
    </div>

    <div class="footer__menu">
      <div class="footer__menu--item--header">Resources</div>
      <div class="footer__menu--item">Talk to Support</div>
      <div class="footer__menu--item">API Docs</div>
      <div class="footer__menu--item">System Status</div>
    </div>

    <div class="footer__menu">
      <div class="footer__menu--item--header">Get in touch</div>
      <div class="footer__menu--item">Questions or feedback?</div>
      <div class="footer__menu--item--vm-smaller">We'd love to hear from you</div>
    </div>


    <div class="footer--row">
      <div class="footer__bottom--left">
        <span class="footer__bottom--item">Terms of service</span>
        <span class="footer__bottom--item">Privacy Policy</span>
        <span class="footer__bottom--item">Cookies</span>
        <span class="footer__bottom--item">Version: {{ version }}</span>
      </div>
      <div class="footer__bottom--right">
        <app-icon class="footer__bottom--icon" icon="linkedin"></app-icon>
        <app-icon class="footer__bottom--icon" icon="instagram"></app-icon>
        <app-icon class="footer__bottom--icon" icon="twitter"></app-icon>
      </div>
    </div>
  </div>

</div>
